/***********/
/*  basic  */
/***********/

body, h2, h1 {
	margin: 0;
	font-family: 'Helvetica', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	height: 10vh;
	box-sizing: border-box;
	text-align: center;
	line-height: 200%;
}

/****************/
/*  parts list  */
/****************/

.parts-list {
	float: left;
	width: 35%;
	height: 90vh;
	overflow: hidden;
	box-sizing: border-box;
}

.part-subset {
	height: 29%;
	overflow-y: hidden;
}

.part-subset li {
	width: 25%;
}

.part-subset li::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.part-subset button {
	max-width: 100%;
	display: inline-block;
	background-color: transparent;
	border: 0;
	vertical-align: middle;
}

.part-subset img {
	max-width: 100%;
}

/******************/
/*  snowman area  */
/******************/

#snowman-name, #submit {
	height: 8%;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
}

#snowman-name {
	height: 5%;
}

.snowman-display {
	width: 65%;
	float: left;
	height: 90vh;
	background: turquoise;
}

.current-snowman {
	height: 87%;
}

.snowman-image {
	height: 90%;
	position: relative;
}

.snowman-image img {
	position: absolute;
	top: 0;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.layers, .head, .torso, .bottom {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.current-snowman h2 {
	height: 10%;
	line-height: 200%;
	text-align: center;
}

.snowman-background {
	height: 100%;
	position: relative;
}

.snowman-background .prev {
	left: 0;
}

.snowman-background .next {
	right: 0;
}

.backgrounds {
	height: 100%;
	overflow-y: hidden;
}

.backgrounds li {
	background-image: url('images/background.png');
	height: 100%;
}

.snowman-name {
	text-align: center;
	line-height: 8.1vh;
}

/**********************/
/*  all snowmen list  */
/**********************/

.all-snowmen {
	height: 13%;
}

.all-snowmen {
	height: 100%;
	box-sizing: border-box;
}
.snowman-list {
	height: 10%;
}

input.prev, input.next {
	position: absolute;
	top: calc(50% - 1rem);
	height: 2rem;
	display: block;
	z-index: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/*********************/
/*  scrollable list  */
/*********************/

.scroll-list {
	position: relative;
	box-sizing: border-box;
}

.scroll-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid red;
	white-space: nowrap;
}

.scroll-list li {
	background-color: orange;
	height: 100%;
	display: inline-block;
}

.scroll-list input.prev {
	left: 0;
}

.scroll-list input.next {
	right: 0;
}

.scroll-list::webkit-scrollbar:horizontal {
	/*background: pink;*/
}
